.koui-card {

  $whitespace-unit: 4px;
  $shadow-blur-multiplier: 5px;
  $shadow-spread-multiplier: 2px;
  $shadow-color: rgba(0,0,0,0.5);

  background: white;
  transition: all 0.3s ease-in-out;
  padding: 2 * $whitespace-unit;
  min-height: 10 * $whitespace-unit;
  display: flex;
  flex-direction: column;
  flex: 1;

  img {
    object-fit: contain;
    max-height: 200px;
    min-height: 200px;
    width: 100%;
  }

  &--border-xs { border-radius: 1 * $whitespace-unit; }
  &--border-sm { border-radius: 2 * $whitespace-unit; }
  &--border-md { border-radius: 3 * $whitespace-unit; }
  &--border-lg { border-radius: 4 * $whitespace-unit; }
  &--border-xl { border-radius: 5 * $whitespace-unit; }

  &--border-color-black { border-color: black; }
  &--border-color-red { border-color: red; }
  &--border-color-blue { border-color: blue; }
  &--border-color-green { border-color: green; }

  &--shadow-sm { box-shadow: 0 0 $shadow-blur-multiplier * 1 $shadow-spread-multiplier * 1 $shadow-color; }
  &--shadow-md { box-shadow: 0 0 $shadow-blur-multiplier * 2 $shadow-spread-multiplier * 2 $shadow-color; }
  &--shadow-lg { box-shadow: 0 0 $shadow-blur-multiplier * 3 $shadow-spread-multiplier * 3 $shadow-color; }

  &--background-white { background-color: white; }
  &--background-red { background-color: red; }
  &--background-blue { background-color: blue; }
  &--background-green { background-color: green; }

  &--dark { background-color: #333; color: white; }

  &--clickable { cursor: pointer; }
  &--outlined { border: 1px solid; }
}
