@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$spacing-scale: (
  '1': 0.25rem,
  '2': 0.5rem,
  '3': 0.75rem,
  '4': 1rem,
  '5': 1.25rem,
  '6': 1.5rem,
  '7': 1.75rem,
  '8': 2rem,
);

$border-radius-scale: (
  'none': 0,
  'xs': 0.1rem,
  'sm': 0.25rem,
  'DEFAULT': 0.5rem,
  'md': 0.75rem,
  'lg': 1rem,
  'xl': 1.25rem,
  'full': 9999px,
);

$color-palette: (
  'blue': #007bff,
  'green': #28a745,
  'red': #dc3545,
  'white': #ffffff,
  'black': #000000,
  'grey': #6c757d,
  'dark-grey': #343a40,
  'light-grey': #f8f9fa,
  'yellow': #ffc107,
);

$opacity-color-palette: (
  'blue': rgba(0, 123, 255, 0.5),
  'green': rgba(40, 167, 69, 0.5),
  'red': rgba(220, 53, 69, 0.5),
  'white': rgba(255, 255, 255, 0.5),
  'black': rgba(0, 0, 0, 0.5),
  'grey': rgba(108, 117, 125, 0.5),
  'dark-grey': rgba(52, 58, 64, 0.5),
  'light-grey': rgba(248, 249, 250, 0.5),
  'yellow': rgba(255, 193, 7, 0.5),
);

.koui-card {
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease-in-out;
  padding: map-get($spacing-scale, '4');
  min-height: map-get($spacing-scale, '8');
  display: flex;
  flex-direction: column;
  border-radius: map-get($border-radius-scale, 'DEFAULT');
  flex: 1;

  img {
    object-fit: contain;
    margin-bottom: 0.75rem;
    border-radius: map-get($border-radius-scale, 'DEFAULT');
  }

  &--border {
    @each $size, $value in $border-radius-scale {
      &-#{$size} {
        border-radius: $value;

        img {
          border-radius: $value;
        }
      }
    }
  }

  &--outlined {
    border: 1px solid map-get($color-palette, 'grey');
  }

  &--clickable {
    cursor: pointer;
    &:hover {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &--border-color {
    @each $color, $hex in $opacity-color-palette {
      &-#{$color} {
        border-color: $hex;
      }
    }
  }

  &--shadow {
    &-sm {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
    &-md {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    }
    &-lg {
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    }
  }

  &--background {
    @each $color, $hex in $color-palette {
      &-#{$color} {
        background-color: $hex;
        &.koui-card--dark {
          color: map-get($color-palette, 'white');
        }
      }
    }
  }
}
